/* structural CSS styles (should not change) */

html {
    -webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	overflow-y: visible !important;
	overflow-x: hidden;
}

*, *:after, *:before {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

a {
	text-decoration: none;
}

:focus {
	outline: none;
}

ul {
	padding: 0;
}

ul, li {
	list-style: none;
}

h1, h2, h3, h4, h5 {
	position: relative;
	display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

figcaption {
	font-size: 14px;
	font-weight: 700;
	margin: 2em 0 .8em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

section {
	padding-bottom: 60px;
}

section:first-of-type {
	border: none;
}

@media (max-width: 659px) {
	section {
		padding-bottom: 30px;
	}
}

address {
	font-style: normal;
}

address span {
	display: block;
	line-height: 1.6;
}

address span.name {
	font-weight: bold;
}

address span a {
	display: inline-block;
}

/* begin responsive padding styles */

.pad-full-xsm {
	padding: 30%;
}

.pad-full-xsm {
	padding: 25%;
}

.pad-full-sm {
	padding: 20%;
}

.pad-full-md {
	padding: 15%;
}

.pad-full-lg {
	padding: 10%;
}

.pad-full-xlg {
	padding: 5%;
}

.pad-vert-xxsm {
	padding: 30% 10%;
}

.pad-vert-xsm {
	padding: 25% 10%;
}

.pad-vert-sm {
	padding: 20% 10%;
}

.pad-vert-md {
	padding: 15% 10%;
}

.pad-vert-lg {
	padding: 10% 10%;
}

.pad-vert-xlg {
	padding: 5% 10%;
}

.pad-horiz-xxsm {
	padding: 10% 30%;
}

.pad-horiz-xsm {
	padding: 10% 25%;
}

.pad-horiz-sm {
	padding: 10% 20%;
}

.pad-horiz-md {
	padding: 10% 15%;
}

.pad-horiz-lg {
	padding: 10% 10%;
}

.pad-horiz-xlg {
	padding: 10% 5%;
}

/* end responsive padding styles for images */

.sg-title {
	position: fixed;
	top: 0;
	height: 54px;
	width: 100%;
	padding: 0;
	z-index: 999;
}

.sg-title div {
	max-width: 1200px;
}

.sg-title div span {
	position: relative;
}

@media (max-width: 1024px){
	.sg-title {
		display: block;
	}
}

@media (max-width: 659px){
	.sg-title span.mobile-truncate {
		display: none;
	}
}

.sg-hero {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 9999;
}

.sg-menu-wrapper {
	position: -webkit-sticky;
	position: sticky;
	top: 50px;
}

@media (max-width: 1024px){
	.sg-menu-wrapper {
		position: fixed;
		top: 0;
		right: 0;
		cursor: pointer;
		display: block;
		z-index: 999;
		width: 50px;
		height: 50px;
		padding: 0 0 0 20px;
	}

	.sg-menu-wrapper:before {
		content: "";
		display: block;
		position: absolute;
		background-image: url(../images/chevron-down.svg);
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
		width: 20px;
		height: 52px;
		transition: .2s;
		opacity: .5;
	}

    .sg-menu-wrapper:hover:before {
        opacity: 1;
    }

    .sg-menu-wrapper-hover.sg-menu-wrapper:before {
        transform: rotate(180deg);
        transition: .2s;
    } 
}

.sg-menu {
	float: left;
	width: 200px;
	padding-top: 30px;
}

@media (max-width: 1024px){
	.sg-menu {
		position: fixed;
		float: right;
		width: 100%;
		top: 54px;
		text-align: left;
		z-index: 2;
		left: 0;
		padding: 0;
		height: auto;
		box-shadow: 0 999px 0 999px rgba(0,0,0,.75);
		opacity: 0;
		transition: .4s;
	}

	.show {
        display: block;
        animation: menuExpand .2s ease-out;
		transform-origin: 100% 0;
		opacity: 1;
		transition: .2s;
    }

    .hide {
    	display: block;
        animation: menuCollapse .2s;
		transform-origin: 100% 0;
		animation-fill-mode: forwards;
    }
}

@keyframes menuExpand {
	0%		{transform: scaleY(0);}
	100%	{transform: scaleY(1);}
}

@keyframes menuCollapse {
	0%		{transform: scaleY(1)}
	100%	{transform: scaleY(0)}
}

@media (max-width: 659px){
	.sg-menu {
		top: 50px;
	}
}

.sg-menu ul {
	position: relative;
	padding: 0;
	margin: 0;
}

@media (max-width: 1024px) {
	.sg-menu ul li {
		float: none;
	}
}

@media (max-width: 659px){
	.sg-menu ul li a,
	.sg-menu ul li span,
	.sg-menu ul li span.header {
		display: inline-block;
		width: 100%;
	}
}

.sg-container {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}

@media (max-width: 979px){
    .mobile-hidden-lg {
        display: none !important;
    }
}

@media (max-width: 659px){
    .mobile-hidden-sm {
        display: none !important;
    }
}

@media (min-width: 980px){
    .desktop-hidden-lg {
        display: none !important;
    }
}

@media (min-width: 660px){
    .desktop-hidden-sm {
        display: none !important;
    }
}

.rotate-flip:after {
	transform: rotate(-180deg);
}

.sg-content {
	position: relative;
	margin-left: 200px;
	padding: 0 4%;
}

@media (min-width: 660px){
    .sg-content {
        padding: 0 8% ;
    }
}

@media (min-width: 1025px){
    .sg-content {
        padding: 0 8% 0 10%;
    }
}

@media (max-width: 1024px){
	.sg-content {
		max-width: 100%;
		margin-left: 0;	}
}

.sg-content img {
	position: relative;
	max-width: 100%;
}

.sg-image {
	position: relative;
	margin-bottom: 40px;
}

.sg-image img {
	position: relative;
	margin-bottom: -4px
}

.white-bg {
	position: relative;
	background: #FFF;
}

.item {
	padding: 60px 0 0;
}

.first-item,
.sub-item {
	padding: 30px 0 0;
}

@media (max-width: 659px) {
	.item {
		padding: 40px 0 0;
	}

	.first-item,
	.sub-item {
		padding: 20px 0 0;
	}
}

.item p.links {
	display: inline-block;
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 0;
}

@media (max-width: 659px){
	.item p.links {
		position: relative;
	}
}

.item p.links a {
	display: inline-block;
	margin: 0 0 0 6px;
}

.items-flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.items-flex-wrap .item {
	flex-basis: 31%;
	padding-right: 30px;
}

@media (max-width: 1024px) {
	.items-flex-wrap.type-spec .item {
		padding-left: 0;
		padding-right: 0
	}
}

.items-flex-wrap .item.body-copy {
	flex-basis: 100%;
}

.items-flex-wrap .item-name {
	position: relative;
	display: block;
}

.items-flex-wrap.wide-col {
	flex-wrap: nowrap;
}

.items-flex-wrap.grid {
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.items-flex-wrap.two-col {
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.items-flex-wrap.two-col .item {
	flex-basis: 49%;
}

.items-flex-wrap .one-third {
	flex-basis: 31%;
}

.items-flex-wrap .two-thirds {
	flex-basis: 65.5%;
}

.items-flex-wrap .one-fourth {
	flex-basis: 23%;
}

@media (max-width: 659px) {
	.items-flex-wrap {
		display: block;
	}

	.swatches .items-flex-wrap {
		display: flex;
	}

	.items-flex-wrap .item,
	.items-flex-wrap .item.body-copy {
		width: 100%;
	}

	.items-flex-wrap.audiences .item {
		padding-top: 6px;
		width: 100%;
		margin-top: 20px;
	}
}

.items-flex-wrap .item-detail {
	margin-top: 0;
}

.item-detail {
    position: relative;
}

.bullets {
	margin-left: 14px;
	margin-bottom: 0;
}

.bullet {
	position: relative;
}

.bullet:before {
	content: "•";
	position: absolute;
	left: -14px;
	opacity: .5;
}

ul.icon-bullets {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 70px;
	-moz-column-gap: 70px;
    column-gap: 70px;
}

@media (max-width: 659px) {
	ul.icon-bullets {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-rule: 0px;
		-moz-column-rule: 0px;
		column-rule: 0px;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
	    column-gap: 0;
	}
}

ul.icon-bullets li {
	display: block;
	margin-top: 20px;
}

ul.icon-bullets li:first-of-type {
	margin: 0;
}

ul.icon-bullets li span {
	margin-left: 20px;
}

ul.icon-bullets i {
	float: left;
}

.swatch {
    display: inline-block;
    margin: 0 3% 10px 0;
    text-align: center;
}

.swatch span {
	display: block;
	text-align: left;
	font-size: 12px;
	opacity: .7;
	margin-top: 4px;
}

.swatch span:nth-of-type(even) {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 1em;
}

@media (max-width: 659px) {
	.swatch {
	    margin-right: 2.5%;
	}

	.swatch span {
		font-size: 9px
	}
}

.block {
	position: relative;
    margin: 10px 0;
    border-radius: 2px;
    overflow: hidden;
}

.block:before {
	content:"";
	display: block;
	padding-top: 100%;
}

.block input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    border: none;
    color: rgba(0,0,0,0);
    font-size: 300px;
    text-align: center;
    cursor: pointer;
}

*:focus {
    outline: none;
}

input.middle:focus {
    outline-width: 0;
}

input:active,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

[contenteditable="true"]:focus {
    outline: none;
}

pre {
	font-size: 14px;
	font-family: courier, serif;
	line-height: 1.6;
	white-space: pre-line;
	word-break: break-word;
	letter-spacing: -.01em;
	opacity: .7;
}

.sg-style-info pre span {
	font-weight: bold;
}

.sg-style-info pre span:nth-of-type(2) {
	margin-top: 10px;
    display: inline-block;
}

.sg-type-spec {
	height: 54px;
	display: table;
}

.sg-type-spec div:nth-of-type(1) {
	display: table-cell;
	vertical-align: middle;
}
